:root {
  --theme-color: #fff;
  --theme-background: #000;
}

html,
body {
  color: var(--theme-color);
  background-color: var(--theme-background);
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--theme-color);
  cursor: pointer;
}

li {
  list-style-type: none;
}
